body {
 margin:0px;
 background-color: #333;
}

.navbar {
 background-color: #111;
 overflow: hidden;
}

#mainlogo {
 width: 40px;
 border-radius: 20px;
 float: left;
 line-height: 60px;
 margin: 10px;
}

#navtitle {
 font-family: 'Nunito', sans-serif;
 color: #eee;
 font-size: 20px;
 float: left;
 line-height: 60px; 
}

.navbuttons {
 font-family: 'Nunito', sans-serif;
 color: #eee;
 font-size: 20px;
 float: right;
 line-height:60px;
 margin-right: 10px;
 padding-left: 10px;
 padding-right: 10px;
}

.navbuttons:hover {
 background-color: #bbb;
 color: #eee;
 border-radius: 30px;
}

.home {
 font-family: 'Nunito', sans-serif;
 color: #eee;
 animation: fadeIn 2s;
 -webkit-animation: fadeIn 2s;
 -moz-animation: fadeIn 2s;
 -o-animation: fadeIn 2s;
 -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#homecont {
 margin-top: 30vh;
 width: 50lvw;
 height: 30lvh;
}

#homeheader {
 font-size: 80px;
 text-align: center;
}

#homeintro {
 font-size: 20px;
 text-align: center;
}
