:root {
  color-scheme: light dark;
}

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    overflow-y: scroll;
    background-color: light-dark(#fff, #333);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #111;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 30lvh;
    max-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

#homecont {
    background-image: url(/images/homebanner.JPG);
    background-position-y: 35%;
}

#bloghome {
    background-image: url(/images/Blogbanner.JPG);
    background-position-y: 55%;
}

.home {
    margin-top: auto;
    margin-bottom: auto;
    color: aliceblue;
}

.navbar .homepagelink {
    display: flex;
    justify-content: left;
    padding: 10px;
}

.navbar .navigationlink {
    display: flex;
    justify-content: right;
}

.navitem {
    margin: auto 20px auto 0;
    font-size: 14pt;
    font-weight: 400;
    height:fit-content;
    color:white;
}

#hometext {
    width: 50%;
    height: 100%;
    padding-top:3%;
    padding-left: 20px;
}

#blogtext {
    width:100%;
    height:100%;
    padding-top: 10px;

}

#hometext > * {
    width:100%;
    text-align: center;
}

#blogtext > * {
    width:100%;
    text-align:center;
}

#mainlogo {
    margin: 0;
    width: 40px;
    border-radius: 20px;
}

#desktopexptext {
    font-size: 0.75em;
    color: rgba(240, 248, 255, 0.75);
}

.content-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 50px 50px;
    row-gap: 50px;
    column-gap: 30px;
}

.project-annotation > p {
    line-height: 150%;
}

.blog-content{
    padding-bottom: 20px;
    border-bottom: 1px dotted;
    border-color: light-dark(black, white);

    span {
        p {
    line-height: 200%;
    color: light-dark(#000, #fff);
    }

    ul > li {
    line-height: 175%;
    color: light-dark(#000, #fff);
    }

    img {
    float: right;
    height: 30%;
    max-height:200px;
    margin-left: 20px;
    }
}
}


.content-wrap > * {
    color: light-dark(#000, #fff);
}

.project-thumbnail {

    align-self: center;
}

.project-thumbnail > img {
    max-width: 100%;
}

.footer {
    display: grid;
    justify-items: center;
}

#footericon {
    width: 80px;
    border-radius: 40px;
    margin-bottom: 10px;
}

#footertext {
    color: light-dark(rgba(69, 69, 69, 0.5), rgba(240, 240, 240, 0.5));
    margin-bottom: 20px;
}

#mobahometext, #mobablogtext {
    width:100%;
    text-align: center;
    font-size: 0%;
    color: rgba(0,0,0,0);
}

.blog-header {
    margin-bottom: 25px;
}

.blog-header > h1, h3, p {
    margin: 3px 0px;
}

.width-buttons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 10px;
}

.width-option {
    margin: 0px 5px;
    border-radius: 15%;
    font-family: 'Lexend', sans-serif;
}

.width-option:hover {
    background-color: whitesmoke;
    color:#000;
}

@media only screen and (max-width: 850px) {
    #homecont > * {
        font-size: 0;
        color: rgba(0,0,0,0);
    }
    

    #mobahometext {
    width:100%;
    font-size: 100%;
    text-align: center;
    }
    #mobahometext > * {
    color: light-dark(#000, #fff);
    }
    
    
}
@media only screen and (max-width: 700px) {
    #mobablogtext {
    width:100%;
    font-size: 100%;
    text-align: center;
    }

    #blogtext > * {
        font-size: 0;
        color: rgba(0,0,0,0);
    }

    #mobablogtext > * {
    color: light-dark(#000, #fff);
    }

.content-wrap {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 50px 20px 50px;
    row-gap: 50px;
    }
.project-thumbnail {
        padding-bottom: 40px;
        border-bottom: 1px dotted;
        border-color: light-dark(black, white);
    }
.blog-content > span > img {
    float: none;
    display: block;
    max-width: 70%;
    max-height: 100%;
    margin: 20px auto;
}

}

#pagenotfound {
    text-align: center;
    margin: 20px auto;
}