body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    overflow-y: scroll;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #111;
    overflow: hidden;
}

#homecont {
    width: 100%;
    height: 30lvh;
    max-height: 500px;
    background-image: url(/images/homebanner.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 35%;
}

.home {
    margin-top: auto;
    margin-bottom: auto;
    color: aliceblue;
}

.navbar .homepagelink {
    display: flex;
    justify-content: left;
    padding: 10px;
}

.navbar .navigationlink {
    display: flex;
    justify-content: right;
}

.navitem {
    margin: auto 20px auto 0;
    font-size: 14pt;
    font-weight: 400;
    height:fit-content;
    color:white;
}

#hometext {
    width: 50%;
    height: 100%;
    padding-top:3%;
    padding-left: 20px;
}

#hometext > * {
    width:100%;
    text-align: center;
}

#mainlogo {
    margin: 0;
    width: 40px;
    border-radius: 20px;
}

.content-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 50px 50px;
    row-gap: 50px;
    column-gap: 30px;
}

.project-thumbnail > img {
    max-width: 100%;
}
