body {
 margin:0px;
}

.navbar {
 background-color: #111;
 overflow: hidden;
}

/* Top Navigation Bar */

#mainlogo {
 width: 40px;
 border-radius: 20px;
 float: left;
 line-height: 60px;
 margin: 10px;
}

#navtitle {
 font-family: 'Nunito', sans-serif;
 color: #eee;
 font-size: 20px;
 float: left;
 line-height: 60px; 
}

.navbuttons {
 font-family: 'Nunito', sans-serif;
 color: #eee;
 font-size: 20px;
 float: right;
 line-height:60px;
 margin-right: 10px;
 padding-left: 10px;
 padding-right: 10px;
}

.activenav {
 color: #111;
 background-color: #eee;
 border-radius: 30px;
}

.navbuttons:hover {
 background-color: #bbb;
 color: #eee;
 border-radius: 30px;
}

/* page header */

.pagetop {
 width: 50lvw;
 height: 50lvh;
 background-color: #333;
}

.titlecont {
 width: 50lvw;
 height: 40lvh;
 padding-top: 10lvh;
 background-color: #333;
}

.pagetop::after {
  content: "";
  position: fixed;
  left: 50lvw;
  width: 5%;
  background: linear-gradient(to right, #333, #eee);

.catheader {
 font-family: 'Nunito', sans-serif;
 color: #eee;
 text-align:center;
 font-size: 50px;
 animation: fadeIn 2s;
 -webkit-animation: fadeIn 2s;
 -moz-animation: fadeIn 2s;
 -o-animation: fadeIn 2s;
 -ms-animation: fadeIn 2s;
}

.catdesc {
 font-family: 'Nunito', sans-serif;
 color: #eee;
 text-align:center;
 font-size: 25px;
 animation: fadeIn 2s;
 -webkit-animation: fadeIn 2s;
 -moz-animation: fadeIn 2s;
 -o-animation: fadeIn 2s;
 -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


